@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&display=swap');

*{
  margin: 0; padding: 0;
  box-sizing: border-box;
}

*:hover,
*:hover::before{
  transition: .4s;
}

*:not(:hover),
*:not(:hover)::before{
  transition: .5s;
}

body{
  padding: 0 75px;
  background-color: #C7F8FF;
  font-family: 'Inter', sans-serif;
  position: relative;
  z-index: -2;
}

body.dark{
  background-color: #222222;
}





.Header{
  padding: 0 75px;
  width: 100%; height: 172px;
  background-color: #C7F8FF;
  position: absolute; top: -172px; left: 0;
  display: flex; justify-content: space-between; align-items: center;
}

.Header.dark{
  background-color: #222222;
}

.Header__logo{
  min-width: 210px ;
}

.Header__logo p{
  font-size: 24px; font-weight: 600;
  position: relative;
}

.Header.dark .Header__logo p{
  color: #A1A1A1;
}

.Header__logo p::before{
  content: url(img/Logo__svg.svg);
  position: absolute; top: -71px; right: 40px;
  z-index: 1;
}

.Header__logo p::after{
  content: '';
  width: 20px; height: 20px;
  background-color: #fff;
  position: absolute; top: -31px; right: 65px;
}

.Header__links a{
  padding: 20px;
  font-size: 17px; font-weight: 600;
  text-decoration: none;
  color: #000;
  position: relative;
}

a.active{
  color: #008FE0;
}

.Header.dark a{
  color: #fff;
}

.Header.dark a.active{
  color: #008FE0;
}

.Header.dark a:hover{
  color: #008FE0;
}

.Header a:hover{
  color: #008FE0;
}

.Header a::before{
  content: '';
  width: 0; height: 3px;
  background-color: #0EA5FB;
  border-radius: 10px;
  position: absolute; bottom: 15px; left: 50%;
}

.Header a:hover::before{
  width: 100%; left: 0;
}

a.active::before{
  width: 82px; left: 20px;
}

a.active:hover::before{
  width: 82px; left: 20px;
}

.Header__Account {
  margin-left: 100px;
  display: flex; justify-content: center; align-items: center;
}

p.Tema {
  width: 86px;
  padding: 8px 37px 8px 12px; margin-right: 25px;
  font-size: 12px; font-weight: 500;
  border: 3px solid #000;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}

p.Tema::before{
  content: '';
  width: 25px; height: 25px;
  background-color: #000;
  border-radius: 50%; 
  position: absolute; right: 5px;
  top: 0; bottom: 0; margin: auto; 
}

.Header.dark p.Tema{
  width: 86px;
  color: #fff;
  border: 3px solid #fff;
}

.Header.dark p.Tema::before{
  background-color: #fff;
}

.Account {
  width: 54px; height: 54px;
  background-image: url(img/Account__svg.svg);
  background-size: cover;
}

.Header__Account a:hover::before{
  width: 0;
}

.Account.dark{
  background-image: url(img/Group\ 1.svg);
}

.Content{
  display: flex; justify-content: center; align-items: center; flex-wrap: wrap;
  margin-bottom: 70px;
}

.Info{
  background-color: #fff;
  border-radius: 15px;
}

body.dark .Info{
  background-color: #969696;
}

.White__block{
  margin-top: 172px;
  z-index: -2;
  position: relative;
  margin-bottom: 70px;
  width: 100%; height: 666px;
}

.White__block:nth-child(2n){
  margin-top: 10px;
}

.White__block1{
  margin: 10px;
  width: 630px; height: 300px;
}

.White__block2{
  margin: 10px;
  width: 630px; height: 505px;
}

.Gray__block{
  margin: 10px;
  width: 400px; height: 400px;
  background-color: #D9D9D9;
  border-radius: 10px;
}

.Footer{
  width: 100%; height: 260px;
  background-color: #2F2F2F;
  position: absolute; bottom: -350px; left: 0;
}

body.dark .Footer{
  background-color: #464646;
}

.Header__burger{
  margin-right: 25px;
  width: 37px; height: 33px;
  position: relative;
  display: none;
}

.Header__burger span{
  width: 100%; height: 5px;
  background-color: #222222;
}

.Header__burger span::after, .Header__burger span::before{
  content: '';
  width: 100%; height: 5px;
  background-color: #222222;
  position: absolute; left: 0;
}

.Header__burger span::after{
  top: 1px;
}

.Header__burger span::before{
  bottom:  1px; left: 0;
}

.Header.dark .Header__burger span{
  background-color: #fff;
}

.Header.dark .Header__burger span::after,.Header.dark .Header__burger span::before{
  background-color: #fff;
}

.Burger__content{
  display: none;
}

.Burger__list{
  padding: 20px 0;
  width: 100%; height: min-content;
  display: flex; justify-content: center; align-items: center; flex-direction: column;
  position: absolute; top: -400px; left: 0;
  z-index: -1;
}

.Burger__list a{
  padding: 20px;
  font-size: 17px; font-weight: 600;
  text-decoration: none;
  color: #fff;
  position: relative;
}

.Burger__list.active{
  top: 0;
  background-color: #616161b6;
}

.Burger__list.active a:hover{
  color: #008FE0;
}

.Burger__list.dark a{
  color: #fff;
}

.Burger__list.dark a.active,
.Burger__list a.active{
  color: #008FE0;
}

.Burger__list .Tema{
  margin: 0;
  display: none;
}

@media (max-width:1450px) {
  .Info__block{
    flex-direction: column;
  }
  .White__block1{
    width: 100%;
  }
  .Info__block{
    flex-direction: column;
  }
  .White__block2{
    width: 100%;
  }
}

@media (max-width:1370px) {
  .Header__links{
    display: none;
  }
  .Header__burger{
    display: flex; justify-content: center; align-items: center;
  }
  .Burger__content{
    display: block;
  }
  .Header__Account{
    margin: 0;
  }
}

@media (max-width:900px) {
  body{
    padding: 0 50px;
  }
  .Header{
    padding: 0 50px;
  }
}

@media (max-width:750px) {
  .Header .Tema{
    display: none;
  }
  .Burger__list .Tema{
    display: block;
    color: #fff;
    border: 3px solid #fff;
  }
  .Burger__list .Tema::before{
    background-color: #fff;
  }
  body{
    padding: 0 30px;
  }
  .Header{
    padding: 0 30px;
  }
  .White__block1{
    margin: 10px 0;
  }
  .White__block2{
    margin: 10px 0;
  }
}

@media (max-width:550px) {
  body{
    padding: 0 30px;
  }
}